extends structure/_layout.pug

block content
  .topbar
    .topbar-left#topLeft
    .topbar-right#top

  .container-fluid.px-sm-5
    .row.py-3
      .col-sm-10
        h1.display-4 Robot Backend Tools
      .col-sm-2.text-center.align-self-left.justify-content-center
        .btn-group
          button(type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
            span#selectedRobot
              span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")
              span.pl-2 Loading robots...
            .dropdown-menu#robots

    .row
      .col-sm-4
        .card.bg-light.mb-3
          .card-header
            h2 Robot Face Rendering
          .card-body
            p.card-text.font-weight-light Select a robot above and press the button to set up your tablet screen as the robot's face.
            button.btn.btn-info(onclick="startPageWithRobot('render-face')")#renderButton Start Face Renderer
      
      .col-sm-4
        .card.bg-light.mb-3
          .card-header 
            h2 Robot Belly Rendering
          .card-body
            p.card-text.font-weight-light Select a robot above and press the button to set up your screen as the robot's belly.
            button.btn.btn-info(onclick="startPageWithRobot('render-belly')")#bellyButton Start Belly Renderer
      .col-sm-4
        .card.bg-light.mb-3
          .card-header
            h2 Web Robot
          .card-body
            p.card-text.font-weight-light Select a robot above and press the button to render a full robot on the browser.
            button.btn.btn-info.mr-2.mb-1(onclick="startPageWithRobot('web-robot-square')") Square Robot
            button.btn.btn-info.mb-1(onclick="startPageWithRobot('web-robot')") Rounded Robot
      .col-sm-4
        .card.bg-light.mb-3
          .card-header
            h2 Phone Robot
          .card-body
            p.card-text.font-weight-light Select a robot above and press the button to render a full robot on a phone browser.
            button.btn.btn-info(onclick="startPageWithRobot('phone-robot')")#phoneButton Phone Robot
      
        
    .footer

block append scripts
  script(src="scripts/config.js")
  script(src="scripts/index.js")
