extends structure/_layout.pug

block content
  .full-screen-wrapper.overflow-auto#screenDiv
    span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")

block append scripts
  script(src="scripts/config.js")
  script(src="scripts/belly.js")
  script(src="scripts/robot-backend.js")
  script(src="scripts/render-belly.js")
  