extends structure/_layout.pug

block content
  include structure/_tool_header.pug
  
  .container-fluid.px-sm-5.pb-4
    .row
      .col.text-center
        h1.display-4 Daily Report
    .row
      .col
        .card.mb-4
          .card-header
            h2 What is your mood right now?
          .card-body
            button(class="btn btn-warning" id="next-stress" onclick="recordMoodData()") Next

block append scripts
  script(src="https://code.responsivevoice.org/responsivevoice.js")
  script(src="https://mayacakmak.github.io/robotbackend/scripts/eyes.js")
  script(src="https://mayacakmak.github.io/robotbackend/scripts/face.js")
  script(src="https://mayacakmak.github.io/robotbackend/scripts/belly.js")
  script(src="https://mayacakmak.github.io/robotapijs/scripts/robotapi.js")
  script(src="scripts/facedata.js")
  script(src="scripts/control.js")
