doctype html
html(lang="en")
head
  meta(charset="utf-8")
  title database.js library
  
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  
  link(rel="stylesheet" href="styles/index.processed.css")
  
  block meta

body

  block content
  .container-fluid.d-flex.align-items-center.justify-content-center
    .container
      .row.mx-1.mt-5
          h1.display-4 robotapijs
      .row.mx-1.mb-1.border-top
        p Javascript library for EMAR robot backend functionality provided through Firebase database updates. See the <a href="https://github.com/mayacakmak/robotapijs#robotapijs">readme on github</a> to learn more.
      .row.mx-1.mb-3.pb-3
        button(type="button" class="btn btn-warning" onclick="testRobotActions()") Test functions
      .row.mx-1.mb-1.pt-1.border-top
        .p-1 
          h4 Available robot functions
        .p-1.ml-auto
          button(type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
            span#selectedRobot
              span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")
              span.pl-2 Loading robots...
            .dropdown-menu#robots
 
      .row.mx-1.mb-3.pt-3.pb-3.border-top
        div#apiDiv

  block scripts
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    
    script(src="https://mayacakmak.github.io/databasejs/scripts/database.js")
    script(src="scripts/robotapi.js")
    script(src="scripts/index.js")

