extends structure/_layout.pug

block content
  .topbar
    .topbar-left#topLeft
    .topbar-right#top

  .container-fluid.px-sm-5
    .row.py-3
      .col-sm-10
        h1.display-4 Robot Programming Tools
    .row
      .col-sm-4
        .card.bg-light.mb-3
          .card-header
            h2 Run Robot Programs
          .card-body
            p.card-text.font-weight-light Browse the list of available programs for each robot and test them.
            a.btn.btn-danger(href="run.html") Open robot programs
      
      .col-sm-4
        .card.bg-light.mb-3
          .card-header 
            h2 Write Robot Programs
          .card-body
            p.card-text.font-weight-light Create new programs, edit existing programs, test and share programs on different robots.
            a.btn.btn-danger(href="programming.html") Start programming
    .footer
