extends structure/_layout.pug

block content
  .container-fluid.d-flex.align-items-center.justify-content-center
    .container-fixed
      .row.mx-1.mt-5
          h1.display-4 Robot Programming
      .row.mx-1.mb-3.pb-3.border-bottom
        .btn-group
          button(type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
            span#selectedRobot
              span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")
              span.pl-2 Loading robots...
            .dropdown-menu#robots
        .btn-group
          button(type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span#robotProgramsButtonText
              span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")
              span.pl-2 Loading programs...
          .dropdown-menu#robotPrograms
      .row.mx-1.d-flex.flex-row
        .p-1
          button(type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span#programsButtonText
              span.spinner-border.spinner-border-sm(role="status" aria-hidden="true")
              span.pl-2 Loading programs...
          .dropdown-menu#myPrograms
        .p-1
          .input-group.mb-1
            .input-group-prepend
              span(class="input-group-text" id="program-name") Program name
            input(type="text" class="form-control" placeholder="" aria-label="program-name" aria-describedby="program-name")#programName

      .row.mx-1.mb-1
        .programming-area
          textarea(type="text")#code
      .row.mx-1.mt-2.mb-4.d-flex.flex-row
        .p-1
          button.btn.btn-success(type="button" onclick="saveProgram()") Save
        .p-1
          button.btn.btn-danger(type="button" onclick="deleteProgram()") Delete
        .p-1
          button.btn.btn-secondary(type="button" data-toggle="modal" data-target="#robotAPI") Show robot functions
        .p-1.ml-auto
          button.btn.btn-primary(type="button" onclick="runProgram()") Run
        .saved-alert#saved-alert
          .alert.alert-success(role="alert")#alert Program saved.
          
        .modal.fade(tabindex="-1" role="dialog" aria-labelledby="robotAPITitle" aria-hidden="true")#robotAPI
          .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
              .modal-header
                h5.modal-title#robotAPITitle Available Robot Functions
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body#robotAPIDescription
                p Robot not specified.
              .modal-footer
                button(type="button" class="btn btn-secondary" data-dismiss="modal") Close

  .footer

block append scripts
  script(src="https://mayacakmak.github.io/emarsoftware/databasejs/scripts/database.js")
  script(src="https://mayacakmak.github.io/emarsoftware/robotapijs/scripts/robotapi.js")
  script(src="scripts/index.js")
