@media screen and (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}