* {
  font-family: Helvetica;
  font-size: 14px;
  color: #222;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  background: #f5f5f5;
}

a {
  padding: 2px 2px;
  cursor: pointer;
}

.h-scrollable {
  overflow-x: scroll;
}

.scrollable {
  overflow-y: scroll;
  height: 80vh;
}

.green-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.green-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

.green-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #96e6a1;
}

img {
  border: 2px pink solid;
  height: auto;
  width: 100%;
}

img.face-thumb {
  border: 5px transparent solid;
  width: auto;
  height: 70px;
}

img.face-thumb-selected {
  border: 5px #007bff solid;
  width: auto;
  height: 70px;
}

.googleIMG {
  border: 0px;
}

div.thumb-and-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#question {
  margin-bottom: 20px;
}

#configs {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: minmax(auto, auto);
}

div.justified {
  justify-self: end;
}

select.selectList {
  height: 80px;
  width: 60px;
}

div.instruction {
  width: 80%;
  text-align: center;
}

div.deletable-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px blue none;
  margin-right: -4px;
}

div.delete-btn-button {
  position: relative;
  z-index: 1;
  left: -8px;
  top: -10px;
  font-size: 8px;
  border: 1px red none;
}

div.delete-checkbox-button {
  position: relative;
  z-index: 1;
  left: 8px;
  top: -10px;
  font-size: 8px;
  border: 1px red none;
}

div.deletable-thumb {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px blue none;
  width: auto;
  margin-right: -14px;
}

div.delete-x-button {
  position: relative;
  z-index: 100;
  left: -14px;
  top: -4px;
  font-size: 8px;
  border: 1px red none;
}

div.slider-container {
  display: grid;
  grid-template-columns: 2fr 1fr 10fr 1fr 2fr;
  grid-auto-rows: minmax(auto, auto);
  justify-content: center;
  align-items: center;
  height: 10%;
  min-height: 40px;
  width: 80%;
  border: 2px purple none;
  margin: 40px 0px;
  grid-gap: 10px;
}

div.wrapper {
  display: flex;
  background-color: #AAA;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  position: relative;
  border: 2px purple none;
}

div.full-screen-wrapper {
  display: flex;
  background-color: #DDD;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px purple none;
}

div.face-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  right-margin: 12px;
  border: 4px orange none;
}

div#robotSpeech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 40%;
  width: 100%;
  margin: 0px;
  border: 2px blue none;
  background-color: #666666;
}

div#robotFace {
  border: 2px red none;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg {
  height: 100%;
  width: 100%;
  border: 0px red solid;
}

canvas {
  margin: 0px;
  border: 2px gray solid;
  width: 100%;
  /*  height: 56px; */
  background-color: black;
  /*  visibility: hidden; */
}

div.topbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  justify-content: flex-start;
  align-items: center;
}

div.topbar-right {
  font-size: 12px;
  color: #DDD;
  display: flex;
  background-color: #222;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px;
  width: 100%;
  height: 100%;
}

div.topbar-left {
  font-size: 12px;
  color: #DDD;
  display: flex;
  background-color: #222;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px;
  width: 100%;
  height: 100%;
}

div.paddedText {
  font-size: 12px;
  color: #DDD;
  margin: 0px 5px;
}

div.paddedVertical {
  margin: 15px 0px 10px 0px;
}

div.top-aligned {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  border: 2px orange none;
  padding: 0px;
}

div.top-aligned-column {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0px;
  border: 2px orange none;
  padding: 0px;
}

div.screen-box-outer {
  border: 2px gray solid;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

div.screen-box-inner {
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 2px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.screen-checkboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  margin: 2px 0px;
  padding: 2px 5px;
  border: 1px red none;
}

div.rule-outer-box {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 20px 20px 20px;
  border: 2px orange none;
}

div.rule-outer-box h2 {
  margin: 0px 10px;
}

div.rule-box {
  border: 2px gray solid;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  padding: 10px;
}

div.rule-box h3 {
  margin-bottom: 10px;
}

div.scale-box {
  border: 1px gray dashed;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0px;
  padding: 10px;
}

div.left-aligned {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  border: 2px green none;
  padding: 0px;
}

div.screen-element {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  padding: 0px;
  border: 1px purple none;
}

div.tight-left-aligned {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px;
  border: 2px red none;
  padding: 0px;
}

div.thumb {
  height: auto;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px;
  border: 2px red none;
  padding: 0px;
}

div.faceControls {
  margin-top: 20px;
  padding-top: 10px;
  border: 2px gray dashed;
  width: 100%;
}

div.scale {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 160px auto ;
  align-items: center;
}

div.sliderName {
  margin-right: 5px;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

div.sliderValue {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}

div.min-value {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  color: #666;
  margin-right: 5px;
}

div.max-value {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  color: #666;
  margin-left: 5px;
}

input {
  font-size: 12px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 5px 0px 10px 0px;
}

h2 {
  font-size: 21px;
  font-weight: 500;
  margin: 5px 0px;
}

h3 {
  font-size: 16px;
  font-weight: 800;
  margin: 5px 0px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.screen-slider {
  -webkit-appearance: none;
  width: 70%;
  margin: 10px 0;
  height: 10px;
  outline: none;
  opacity: 0.7;
  background: #eee;
}

.screen-slider::-webkit-slider-thumb {
  border: 1px solid #666;
  height: 40px;
  width: 20px;
  border-radius: 5px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.screen-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #AAA;
  border-radius: 1.3px;
}

output {
  position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}

output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #257BFA;
  cursor: pointer;
}

div.two-column-small {
  border-top: 2px gray dashed;
  border-bottom: 2px gray dashed;
  width: 80%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 10px;
  align-items: center;
}

div.two-column {
  border-top: 2px gray dashed;
  border-bottom: 2px gray dashed;
  width: 80%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 10px;
  align-items: center;
}

div.two-column-equal {
  border-top: 2px gray dashed;
  width: 80%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 20px;
  align-items: center;
}

div.sidebyside {
  display: grid;
  height: 100%;
  width: 100%;
  position: relative;
  right-margin: 32px;
  grid-gap: 8px;
  padding-right: 8px;
}

div.three-column {
  border-top: 2px gray dashed;
  border-bottom: 2px gray dashed;
  width: auto;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

div.preset-controls {
  width: 100%;
  padding-top: 10px;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

div.three-parts {
  margin: 0px;
  padding: 0px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

div.control {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.colorPicker {
  margin-top: 20px;
  padding: 10px 0px;
  border-top: 1px gray dashed;
  height: auto;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 4fr 1fr 4fr 1fr 4fr 1fr;
  align-items: center;
}

div.bool-picker {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px gray dashed;
  height: 35px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 3fr;
  align-items: center;
  grid-gap: 2px;
}

div.voice {
  padding-top: 10px;
}

div.option {
  margin: 5px 0;
}

input[type=checkbox] {
  margin: 5px;
}

input[type=range] {
  height: 100%;
  margin: 0px 0px;
}

input[type=text] {
  width: 100%;
  padding: 2px 2px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

input[type=text].small {
  width: 30px;
}

input[type=text].centered {
  text-align: center;
}

input[type=text].right-aligned {
  text-align: right;
}

input[type=text].min {
  text-align: right;
  width: 100%;
}

input[type=text].max {
  text-align: left;
  width: 100%;
}

.instruction-large {
  width: 90%;
  text-align: center;
  font-size: 8vw;
}

.instruction-small {
  width: 100%;
  text-align: center;
  font-size: 5vw;
}

input[type=text].instruction-large-setup {
  width: 90%;
  text-align: center;
  font-size: 4vw;
}

input[type=text].instruction-small-setup {
  font-size: 2.5vw;
  width: 90%;
  text-align: center;
}

.screen-item {
  font-size: 2.5vw;
}

input[type=text].name {
  font-size: 14;
  text-align: left;
  width: 80px;
}

input[type=text].screen-name {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  width: auto;
}

input[type=text].large-text {
  width: 100%;
  height: 35px;
  padding: 5px 5px;
  margin: 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button].large-button {
  background-color: #444;
  font-size: 20px;
  z-index: 99;
}

input[type=button].smallButton {
  background-color: #4C50AF;
  z-index: 99;
}

input[type=button].newButton {
  background-color: #AF4C50;
  z-index: 99;
}

.full-button {
  margin-top: 2px;
  width: 100%;
}

button.btn-delete {
  padding: 2px 5px;
  margin: 5px 5px;
  font-size: 12px;
}

button.btn-add {
  padding: 2px 5px;
  margin: 5px 0px;
  font-size: 12px;
}

button.btn-circle-sm {
  width: 16px;
  height: 16px;
  padding: 0px 0px;
  border-radius: 8px;
  text-align: center;
  font-size: 10px;
  line-height: 1;
}

button.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

input[type=button].add-button {
  padding: 5px 2px;
  margin: 2px;
  border: none;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 5px 5px 5px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.gridbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  align-items: center;
  /*   align-self: center; */
  border: 2px purple none;
  margin-bottom: 10px;
}

div.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px blue none;
}

input[type=button].addButton {
  width: auto;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
  z-index: 99;
}

@media screen and (min-width: 981px) {
  .loginCard {
    max-width: 350px;
  }
}

