/**
 * index.scss
 * - Add any styles you want here!
 */
body {
  background: #f5f5f5;
}

h2 {
  font-size: 21px;
  font-weight: 500;
  margin: 5px 0px;
}

.program-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.program-item {
  display: flex;
  flex-direction: column;
}

.programming-area {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 15px 10px 0px;
}

.saved-alert {
  position: fixed;
  top: 10px;
  left: 25%;
  width: 50%;
  z-index: 9999;
  border-radius: 0px;
  text-align: center;
  visibility: hidden;
}

